<div *ngIf="product" class="container d-flex justify-content-around" style="position: relative; top: 10vh;">
    <div class="col">
        <img src="{{product.image}}" alt="{{product.name}}" style="height: 100%; width: 100%;">
    </div>
    <div class="col">
        <h1>{{product.name}}</h1>
        <h4 style="margin-bottom: 5vh;">${{product.price}}</h4>
        <h2 style="margin-top: 10vh;"><strong>About the product:</strong></h2>
        <h4 style="margin-top: 3vh;">{{product.description}}</h4>
    </div>
</div>