<div class="d-flex justify-content-around">
    <app-categories></app-categories>
    <div class="d-flex flex-wrap">
        <div *ngFor="let product of products" class="" style="margin-top: 10vh;">
            <div class="card" style="width: 30vh; margin-right: 2vh; margin-left: 2vh;">
                <div class="card-title">{{product.name}}</div>
                <button routerLink='/products/{{product.id}}' class="btn-primary">Go to product</button>
            </div>
        </div>
    </div>
</div>